   body{
  box-sizing: border-box;
  font-family: work Sans;
  margin: 0;
  padding: 0;
}

           .contacto{
  background-image: url(e.jpg);
  background-color: #1e2326;
  color: #fff;
  padding: 90px 0;
  
}
.contacto .contenido-seccion{
  max-width: 900px;
  margin: auto;
}
